# img files 

img/test_img

# Interface

Interface/.vscode
Interface/__pycache__

# Notebooks

Notebooks/Partie 1 Flowers/.ipynb_checkpoints
Notebooks/Partie 1 Flowers/flowers-dataset

Notebooks/Partie 2 Mednet/.ipynb_checkpoints
Notebooks/Partie 2 Mednet/resized
Notebooks/Partie 2 Mednet/hints.txt
Notebooks/.ipynb_checkpoints

